
# .gitignore
models-release-1.6/PaddleNLP/PaddleDialogue/dialogue_general_understanding/dgu/data/input/data/multi-woz/source_data/MULTIWOZ2_2/data.json
models-release-1.6/PaddleNLP/PaddleDialogue/dialogue_general_understanding/dgu/data/input/data/udc/dev.txt
models-release-1.6/PaddleNLP/PaddleDialogue/dialogue_general_understanding/dgu/data/input/data/udc/test.txt
models-release-1.6/PaddleNLP/PaddleDialogue/dialogue_general_understanding/dgu/data/input/data/udc/train.txt
data/source_data/field/ConvFinQA-finance/train_turn.json
